[submodule "themes/ga-hugo-theme"]
	path = themes/ga-hugo-theme
	url = https://github.com/giraffeacademy/ga-hugo-theme.git
[submodule "layouts/video-js"]
	path = layouts/video-js
	url = https://github.com/hugomods/video-js.git
